:root {
  /* Spacing */
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;

  /* Colors */
  --colour-background-now-playing: #121212;
  --color-text-primary: #FFFFFF;
  --colour-text-secondary: #000;
  --color-brand-spotify: #1DB954;

  /* Fonts */
  --font-body: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  --font-weight-body: 400;
  --font-weight-heading: 900;
  --font-size-base: 16px;

  --body-line-height: 1.1;
}


